.form-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header{
    background-color: var(--primary);
    padding: 18px 0;
    text-align: center;
    border-radius: 0 0 12px 12px;
}

.form-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.input {
    flex: 1;
    background-color: #f3f4f4;
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    min-width: 300px;
}

.upload {
    flex: 1;
    background-color: #f3f4f4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    justify-content: space-between;
}

.upload input[type="file"] {
    display: none;
}

.upload-icon {
    font-size: 20px;
}

.disponibilidad {
    background-color: #f3f4f4;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}

.dia-checkbox input[type="checkbox"] {
    display: none;
}

.dias {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.dia {
    background-color: #ddd;
    color: #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.dia-checkbox input[type="checkbox"]:checked + .dia {
    background-color: var(--primary);
    color: var(--on-primary);
}

.dia:hover {
    background-color: #b4d6a3;
}


.dia.activo {
    background-color: var(--primary);
    color: var(--on-primary);
}

.horario {
    font-size: 14px;
    color: #000;
    margin-top: 5px;
}

.acciones {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.eliminar {
    background-color: #ff2f00;
    color: #fff;
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.eliminar:hover {
    background-color: #cc2400;
}

.footer {
    background-color: var(--primary);
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    border-radius: 12px 12px 0 0;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.icon {
    font-size: 20px;
    color: var(--on-primary);
}

.footer .icon {
    font-size: 32px;
    color: var(--on-primary);
}